#WidgetTutiempo{
    all:initial;
    *all:unset;
}
#WidgetTutiempo{
    font-size: 0.8rem;
    float: right;
    background-color:transparent;
    margin: 0px auto;
}
#WidgetTutiempo p{
    margin:0;
    padding:5px;
    padding-left:20;
    padding-right:0;
    background-color: transparent;
}
#WidgetTutiempo .header{
    clear:both;
    float:none;
    background-color: transparent;
}
#WidgetTutiempo .header h2{
    margin:0;
    margin-top:10px;
    background-color: transparent;
}
#WidgetTutiempo .header p{
    margin:0;
}
#WidgetTutiempo .date{
    font-size: 1rem;
    padding-top:15px;
    padding-bottom:5px;
    clear:both;
    float:right;
    background-color:transparent;
}

#WidgetTutiempo .daydata{
    font-size: 0.8rem;
    clear:both;
    float:none;
    background-color: transparent;
}

#WidgetTutiempo .it{
    font-size: 0.8rem;
    line-height:25px;
    float:center;
    margin-right:20px;
    height:50px;
    white-space:nowrap;
    background-color: transparent;
    }

#WidgetTutiempo .it img{
    float:left;
    margin-right:10px;
    background-color: transparent;
}

.clima {
    text-align:center;
    padding: 0 20px; 
    background-color:#6E7C97;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 400px;
    margin-top: 30px;
    border-radius: 5px;
}

@media screen and (max-width: 992px) {
    .aside {
        display: flex;
        flex-wrap: wrap;
        float: center;
        width: 100%;
        padding: 0 20px;
        margin: 10px;
        text-align: center;
    }

    #WidgetTutiempo {
        display: table-cell;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        float: none;
    }

    #WidgetTutiempo .daydata {
        display: flex;
        font-size: 0.6rem;
        display: table-cell;
        width: 100%;
        height: 100%;
    }
    .clima {
        display: table-cell;
        width: 100%;
        padding-bottom: 20px;
        padding-right: 20px;
    }

    #WidgetTutiempo .date {
        display: flex;
        font-size: 0.6rem;
        display: table-cell;
        width: 100%;
        height: 100%;
    }
    #WidgetTutiempo .oc{
        font-size: 0.8rem;
        /*line-height: 70px;*/
        float: left;
        /*vertical-align: bottom;*/
        margin-right: 15px;
        height:30px;
        white-space:nowrap;
        background-color: transparent;
        padding-top: 0px;
        }
}